<a href="https://colab.research.google.com/github/hxri/Deep-Learning-Lab/blob/main/Experiment_3_Decision_Tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [4]:
from sklearn.tree import DecisionTreeClassifier
from sklearn import preprocessing

In [6]:
df = pd.read_csv('/content/bank.csv')
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,33,blue-collar,single,primary,no,1,yes,no,cellular,20,apr,257,1,-1,0,unknown,no
11158,39,services,married,secondary,no,733,no,no,unknown,16,jun,83,4,-1,0,unknown,no
11159,32,technician,single,secondary,no,29,no,no,cellular,19,aug,156,2,-1,0,unknown,no
11160,43,technician,married,secondary,no,0,no,yes,cellular,8,may,9,2,172,5,failure,no
11161,34,technician,married,secondary,no,0,no,no,cellular,9,jul,628,1,-1,0,unknown,no

In [11]:
le = preprocessing.LabelEncoder()
df = df.apply(le.fit_transform)

In [12]:
X=df.drop(['deposit', 'age', 'balance', 'day', 'day', 'month', 'duration', 'campaign', 'pdays', 'previous'],axis=1)
y=df['deposit']

In [13]:
X

       job  marital  education  default  housing  loan  contact  poutcome
0        0        1          1        0        1     0        2         3
1        0        1          1        0        0     0        2         3
2        9        1          1        0        1     0        2         3
3        7        1          1        0        1     0        2         3
4        0        1          2        0        0     0        2         3
...    ...      ...        ...      ...      ...   ...      ...       ...
11157    1        2          0        0        1     0        0         3
11158    7        1          1        0        0     0        2         3
11159    9        2          1        0        0     0        0         3
11160    9        1          1        0        0     1        0         0
11161    9        1          1        0        0     0        0         3

[11162 rows x 8 columns]

In [14]:
y

0        1
1        1
2        1
3        1
4        1
        ..
11157    0
11158    0
11159    0
11160    0
11161    0
Name: deposit, Length: 11162, dtype: int64

In [23]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [27]:
clf = DecisionTreeClassifier(random_state=0, criterion='entropy')

In [28]:
clf.fit(X_train,y_train)

DecisionTreeClassifier(criterion='entropy', random_state=0)

In [29]:
y_pred = clf.predict(X_test)

In [30]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.65      0.74      0.69      1917
           1       0.66      0.56      0.61      1767

    accuracy                           0.65      3684
   macro avg       0.66      0.65      0.65      3684
weighted avg       0.66      0.65      0.65      3684